<ion-item *ngIf="borrow.activo">

  <ion-label>
    <h2>Nombre: {{ borrow.nombre }}  </h2>
    <h2>RFC: {{ borrow.montoprestado }}</h2>
    <h3>Correo: {{ borrow.fechadeprestamo }}</h3>
    <p>Domicilio: {{ borrow.numerodepagos }}</p>
   

  </ion-label>
  
  
  <button (click)=verPrestamo(borrow._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #000000;font-weight: bold;margin: 10px;" type="button">Ver más</button>
  <!-- <ion-icon name="trash" (click)="delete(borrow._id)"></ion-icon> -->
  <ion-icon name="clipboard" (click)="Editar_U(borrow._id)"></ion-icon> 
</ion-item>
