
    <ion-header>
      <ion-toolbar>
        <app-navbar></app-navbar>
      </ion-toolbar>
    </ion-header>

<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Registra a tu nuevo elemento</h2>
  
    <form [formGroup]="userForm" class="formulario" (ngSubmit)="actualizar()">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="nombre" formControlName="nombre" placeholder="Nombre"required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="apellidos"  formControlName="apellidos" placeholder="apellidos"required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" name="curp"  formControlName="curp" placeholder="CURP"required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="nsegurosocial" formControlName="nsegurosocial" placeholder="Numero de seguro social"required=""> </ion-input> </p>
        </div>
        </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" name="rfc"  formControlName="rfc" placeholder="RFC"required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="domicilio"  formControlName="domicilio" placeholder="Ejemplo:Av.Chicahuales, JesusMaria, Ags, codigo postal: 20000 "required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label class="formulario__label">Fecha de Entrada </ion-label>
          <p><ion-input class="formulario__input" type="date" formControlName="fechadeentrada" name="fechadeentrada" placeholder="Fecha de facturacion"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label class="formulario__label">Fecha de Nacimiento</ion-label>
          <p><ion-input class="formulario__input" type="date" name="fechadenacimiento"  formControlName="fechadenacimiento" placeholder="Fecha de Nacimiento"required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="telefono"  formControlName="telefono" placeholder="Telefono "required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="telefonoadicional" formControlName="telefonoadicional" placeholder="Telefono Adicional"required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="creditodeInfonavit"  formControlName="creditodeInfonavit" placeholder="Ingrese el numero de credito de Infonavit si lo tiene"required="" maxlength="15"> </ion-input> </p>
        </div>
      </div>
      <!-- <p><ion-input type="text" formControlName="estadocivil" placeholder="Cual es su estado Civil"required=""> </ion-input> </p> -->
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item class="formulario__input" >
              <ion-label>Cual es su estado Civil:</ion-label>
              <ion-select    formControlName="estadocivil" name="estadocivil" required="" >
                  <ion-select-option value="Soltero">Soltero</ion-select-option>
                  <ion-select-option value="Casado">Casado</ion-select-option>
                  <ion-select-option value="Divorciado">Divorciado</ion-select-option>
                  <ion-select-option value="Viudo">Viudo</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>
      
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="email" name="correoelectronico"  formControlName="correoelectronico" placeholder="correoelectronico"required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de playera </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdeplayera" formControlName="cdeplayera" placeholder="Cantidad de playera"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddeplayera" formControlName="ddeplayera" placeholder="Descripcion de playera"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de pantalon </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdepantalon" formControlName="cdepantalon" placeholder="Cantidad de pantalon"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddepantalon" formControlName="ddepantalon" placeholder="Descripcion de pantalon"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de botas </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdebotas" formControlName="cdebotas" placeholder="Cantidad de calzado"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text"  name="ddebotas" formControlName="ddebotas" placeholder="Descripcion de calzado"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de cachucha </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdecachucha" formControlName="cdecachucha" placeholder="Cantidad de cachucha"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddecachucha" formControlName="ddecachucha" placeholder="Descripcion de cachucha"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de chamarra </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdechamarra" formControlName="cdechamarra" placeholder="Cantidad de chamarra"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddechamarra" formControlName="ddechamarra" placeholder="Descripcion de chamarra"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de chaleco </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdechaleco" formControlName="cdechaleco" placeholder="Cantidad de chaleco"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddechaleco" formControlName="ddechaleco" placeholder="Descripcion de chaleco"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de lentes </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdelentes" formControlName="cdelentes" placeholder="Cantidad de lentes"required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddelentes" formControlName="ddelentes" placeholder="Descripcion de lentes"required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
        <!-- <p><ion-input type="text" formControlName="pensionado" placeholder="Es pensionado"required=""> </ion-input> </p>   -->
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item  class="formulario__input">
              <ion-label>Es pensionado:</ion-label>
              <ion-select    formControlName="pensionado"  name="pensionado" required="" >
                  <ion-select-option value="Si">Si</ion-select-option>
                  <ion-select-option value="No">No</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>
      
      <!-- <p><ion-input type="text" formControlName="niveldeescolaridad" placeholder="Nivel de Escolaridad"required=""> </ion-input> </p>   -->
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item  class="formulario__input">
              <ion-label>Nivel de Escolaridad:</ion-label>
              <ion-select  formControlName="niveldeescolaridad" name="niveldeescolaridad" required="" >
                  <ion-select-option value="Primaria">Primaria</ion-select-option>
                  <ion-select-option value="Secundaria">Secundaria </ion-select-option>
                  <ion-select-option value="Preparatoria">Preparatoria</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>    

      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label>Agrega Foto del Elemento</ion-label>
          <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
            <input type="file" placeholder="File" (change)="onFileChange($event)"
          formControlName="file" >
          </form>
        </div>
      </div>
      <p><input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #FE693D; color: #000000;font-weight: bold;" type="submit" value="Registrar"> </p>
    </form>
  </main>
   
  </div>
  
</ion-content>
