<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Dias laborales de esta persona</h2>
  
    <form [formGroup]="turnForm" class="formulario" (ngSubmit)="Register()">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
           <!-- tlp de turno lunes de primera semana  -->
          <p><ion-input class="formulario__input" type="text" name="tlp" placeholder="turno lunes semana uno" formControlName="tlp"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmp" placeholder="turno martes semana uno" formControlName="tmp"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmip" placeholder="turno Miercoles semana uno " formControlName="tmip"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tjp" placeholder="turno Jueves semana uno" formControlName="tjp"  required=""> </ion-input> </p>
        </div>
      </div> 
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tvp" placeholder="turno Viernes semana uno" formControlName="tvp"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tsp" placeholder="turno Sabado semana uno" formControlName="tsp"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tdp" placeholder="turno Domingo semana uno" formControlName="tdp"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tls" placeholder="turno lunes semana dos" formControlName="tls"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tms" placeholder="turno martes semana dos" formControlName="tms"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmis" placeholder="turno Miercoles semana dos" formControlName="tmis"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tjs" placeholder="turno Jueves semana dos" formControlName="tjs"  required=""> </ion-input> </p>
        </div>
      </div> 
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tvs" placeholder="turno Viernes semana dos" formControlName="tvs"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tss" placeholder="turno Sabado semana dos" formControlName="tss"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tds" placeholder="turno Domingo semana dos" formControlName="tds"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tlt" placeholder="turno lunes semana tres" formControlName="tlt"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmt" placeholder="turno martes semana tres" formControlName="tmt"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmit" placeholder="turno Miercoles semana tres" formControlName="tmit"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tjt" placeholder="turno Jueves semana tres" formControlName="tjt"  required=""> </ion-input> </p>
        </div>
      </div> 
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tvt" placeholder="turno Viernes semana tres" formControlName="tvt"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tst" placeholder="turno Sabado semana tres" formControlName="tst"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tdt" placeholder="turno Domingo semana tres" formControlName="tdt"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tlc" placeholder="turno lunes semana cuatro" formControlName="tlc"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmc" placeholder="turno martes semana cuatro" formControlName="tmc"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tmic" placeholder="turno Miercoles semana cuatro" formControlName="tmic"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tjc" placeholder="turno Jueves semana cuatro" formControlName="tjc"  required=""> </ion-input> </p>
        </div>
      </div> 
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tvc" placeholder="turno Viernes semana cuatro" formControlName="tvc"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tsc" placeholder="turno Sabado semana cuatro" formControlName="tsc"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="tdc" placeholder="turno Domingo semana cuatro" formControlName="tdc"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input"  type="text" name="tlq" placeholder="turno lunes " formControlName="tlq"  required="" *ngIf="vn" > </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input"  type="text" name="tmq" placeholder="turno Martes " formControlName="tmq"  required="" *ngIf="t"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input"  type="text" name="tmiq" placeholder="turno Miercoles " formControlName="tmiq"  required="" *ngIf="tu"> </ion-input> </p>
        </div>
      </div>
    
     
      <p><ion-input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #000000; color: #FFFFFF;" type="submit" value="Registrar"> </ion-input> </p>
    </form>
  </main>
   
  </div>
</ion-content>


  