<ion-header>
  <ion-toolbar class="color2">
    <img src="../../assets/logonew01_v.png" width="30%" alt=""/>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-grid class="login"> 
    <h2 class="login-header">
    </h2>
    <img class="logo" src="../../assets/logonew01_v.png" width="80%" alt="logotipo"/>

    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="Login(frmLogin)">
      <p><ion-input type="email" name="correoelectronico" placeholder="correoelectronico"  ngModel required=""> </ion-input> </p>
      <p><ion-input type="password" name="contrasena" placeholder="contrasena" ngModel required=""> </ion-input></p>
      <p><input type="submit" value="Iniciar Sesion"> </p>

     
      <ion-label class="link" [routerLink]="['/registro']" > ¿Olvidaste tu contraseña? </ion-label>
      
     
    </form>
  </ion-grid>
</ion-content> 

