<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid class="login">
    
    <h2 class="login-header">Log in</h2>
  
    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="Login(frmLogin)">
      <p><ion-input type="email" name="correoelectronico" placeholder="correoelectronico"  ngModel required=""> </ion-input> </p>
      <p><ion-input type="password" name="contrasena" placeholder="contrasena" ngModel required=""> </ion-input></p>
      <p><input type="submit" value="Log in"> </p>


      <ion-label [routerLink]="['/registro']" > ¿Olvidaste tu contraseña? </ion-label>
      
     
    </form>
  </ion-grid>
</ion-content>
