<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Actualizar el Equipo que le entregaras a tu Guardia</h2>
  
    <form [formGroup]="EquipForm" class="formulario" (ngSubmit)="actualizar()">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de Celulares </ion-label>
          <p><ion-input class="formulario__input" type="text" name="celular" placeholder="Celular"  formControlName="celular"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dcelular" placeholder="Descripcion Celular"  formControlName="dcelular"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de radio </ion-label>
          <p><ion-input class="formulario__input" type="text" name="radio" placeholder="Radio"  formControlName="radio"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dradio" placeholder="Descripcion Radio"  formControlName="dradio"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de lamparas </ion-label>
          <p><ion-input class="formulario__input " type="text" name="lamparas" placeholder="Lamparas"  formControlName="lamparas"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input " type="text" name="dlamparas" placeholder="Descripcion Lamparas"  formControlName="dlamparas"  required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de fornitura </ion-label>
          <p><ion-input class="formulario__input" type="text" name="fornitura" placeholder="fornitura"  formControlName="fornitura"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dfornitura" placeholder="Descripcion Fornitura"  formControlName="dfornitura"  required=""> </ion-input> </p>
        </div>
        </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de tonfa </ion-label>
          <p><ion-input class="formulario__input " type="text" name="tonfa" placeholder="Tonfa"  formControlName="tonfa"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input " type="text" name="dtonfa" placeholder="Descripcion Tonfa"  formControlName="dtonfa"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de gas </ion-label>
          <p><ion-input class="formulario__input" type="text" name="gas" placeholder="Gas"  formControlName="gas"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dgas" placeholder="Descripcion Gas"  formControlName="dgas"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de teaser </ion-label>
          <p><ion-input class="formulario__input" type="text" name="teaser" placeholder="Teaser"  formControlName="teaser"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
         
          <p><ion-input class="formulario__input" type="text" name="dteaser" placeholder="Descripcion Teaser"  formControlName="dteaser"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de impermeable </ion-label>
          <p><ion-input class="formulario__input" type="text" name="impermeable" placeholder="Impermeable"  formControlName="impermeable"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          
          <p><ion-input class="formulario__input" type="text" name="dimpermeable" placeholder="Descripcion Impermeable"  formControlName="dimpermeable"  required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de espejo de revision </ion-label>
          <p><ion-input class="formulario__input" type="tel" name="espejoderevision" placeholder="Espejo de revision"  formControlName="espejoderevision"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="despejoderevision" placeholder="Descripcion Espejo de revision"  formControlName="despejoderevision"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de detector de metales </ion-label>
          <p><ion-input class="formulario__input" type="tel" name="detectordemetales" placeholder="Detector de metales"  formControlName="detectordemetales"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="ddetectordemetales" placeholder="Descripcion Detector de metales"  formControlName="ddetectordemetales"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de mazo </ion-label>
          <p><ion-input class="formulario__input" type="text" name="mazo" placeholder="Mazo"  formControlName="mazo"  required="" > </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dmazo" placeholder="Descripcion Mazo"  formControlName="dmazo"  required="" > </ion-input> </p>
        </div>
      </div>
      
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de botas impermeables </ion-label>
          <p><ion-input class="formulario__input" type="text" name="botasimpermeables" placeholder="botas impermeables"  formControlName="botasimpermeables"  required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dbotasimpermeables" placeholder="Descripcion botas impermeables"  formControlName="dbotasimpermeables"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de bicicleta </ion-label>
          <p><ion-input class="formulario__input" type="text" name="bicicleta" placeholder="Bicicleta"  formControlName="bicicleta"  required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dbicicleta" placeholder="Descripcion Bicicleta"  formControlName="dbicicleta"  required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de patrulla </ion-label>
          <p><ion-input class="formulario__input" type="text" name="patrulla" placeholder="Patrulla"  formControlName="patrulla"  required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dpatrulla" placeholder="Descripcion Patrulla"  formControlName="dpatrulla"  required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
     
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de rondinero </ion-label>
          <p><ion-input class="formulario__input" type="text" name="rondinero" placeholder="Rondinero"  formControlName="rondinero"  required> </ion-input></p>
        </div> 
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="drondinero" placeholder="Descripcion Rondinero"  formControlName="drondinero"  required> </ion-input></p>
        </div> 
      </div>
      
      <p><input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #FE693D; color: #ffff;" type="submit" value="Actualizar"> </p>
    </form>
  </main>
   
  </div>
  
</ion-content>
