<ion-header [translucent]="true">
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
          
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo"></h3>
            <p class="texto"> </p>
        </div>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Personal:</th>
              <th scope="col">Fecha de Prestamo </th>
              <th scope="col">Monto</th>
              <th scope="col">Numero de pagos</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"> {{borrow.nombre}}</th>
              <td>{{borrow.fechadeprestamo}}  </td>
              <td> {{borrow.montoprestado}} </td>
              <td>{{borrow.numerodepagos}} </td>
            </tr>
        
            
           
         
            
          </tbody>
        </table>
     
       
    </div>
</section>
</ion-content>