<ion-header [translucent]="true">
  <ion-toolbar>
    <app-navbar class="day-nam"></app-navbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="seccion-perfil-usuario">
    <!-- class="perfil-usuario-footer" -->
     <div class="table-responsive">
      

     <div class ="header-calendar col-auto text-center"  >
       <div class="col-auto text-center">
         <!-- es para ir al mes de atras -->
         <button (click)="changeMonth(-1)" name="arrow-back" value="Anterior" ><ion-icon name="arrow-up-outline"></ion-icon></button> 
       </div>
      
       <h1>{{dateSelectM}} {{dataSYear}}  </h1>
      <div class="col-auto text-center">
        <!-- es para ir al mes de adelante -->
        <button (click)="changeMonth(1)" value="Siguiente"><ion-icon name="arrow-down-outline"></ion-icon></button> 
     </div>
    
    </div>
       <table class="table table-striped table-hover"  >
       <thead class="thead-dark" >
         <tr >
           <th scope="col" > </th>
           <th scope="col" > </th>
           <th scope="col" > </th>
           <th scope="col" *ngFor="let day of monthSelect">{{day.name | slice:0:3}} </th>
         </tr>
         <tr>
           <th scope="col" >  </th>
           <th scope="col" >* </th>
           <th scope="col" >Nombre </th>
           <th scope="col" 
           *ngFor="let day of monthSelect; let first = first" >{{ day ?.value}}  </th>
         </tr>
       </thead>
       <tbody > 
         <tr scope="row" *ngFor="let t of guardias; let i = index"  ngForm #frmRegister="ngForm" >
           <th scope="row" > </th>
           <th scope="row">{{i + 1}}</th>
           <td > {{t.nombre}} {{t.apellidos}} </td>
           <td> 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tlp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tlp" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item  class="formulario__input">
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tlpl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tlpl" ngModel required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
                  
              </ion-select>
            </ion-item>
           </td>
           <td>  
             <ion-item  class="formulario__input">
            <ion-label>Turno:</ion-label>
            <ion-select [(ngModel)]="t.tmp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmp" ngModel required="" >
                <ion-select-option value="TD">Dia</ion-select-option>
                <ion-select-option value="TN">Noche </ion-select-option>
                <ion-select-option value="D">Descanso</ion-select-option>
            </ion-select>
          </ion-item> 
           <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmpl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmpl" ngModel required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td> 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmip" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmip" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmipl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmipl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tjp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tjp" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tjpl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tjpl" ngModel required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
            </td>
           <td> 
              <ion-item  class="formulario__input">
            <ion-label>Turno:</ion-label>
            <ion-select [(ngModel)]="t.tvp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tvp" ngModel required="" >
                <ion-select-option value="TD">Dia</ion-select-option>
                <ion-select-option value="TN">Noche </ion-select-option>
                <ion-select-option value="D">Descanso</ion-select-option>
            </ion-select>
          </ion-item> 
           <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tvpl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tvpl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tsp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tsp" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tspl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tspl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tdp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tdp" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tdpl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tdpl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tls" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tls" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tlsl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tlsl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tms" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tms" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
          <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmsl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmsl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmis" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmis" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmisl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmisl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tjs" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tjs" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tjsl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tjsl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tvs" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tvs" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tvsl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tvsl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tss" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tss" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tssl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tssl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tds" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tds" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tdsl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tdsl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tlt" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tlt" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tltl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tltl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmt" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmt" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmtl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmtl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmit" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmit" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmitl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmitl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tjt" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tjt" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tjtl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tjtl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tvt" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tvt" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tvtl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tvtl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tst" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tst" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tstl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tstl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tdt" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tdt" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tdtl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tdtl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tlc" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tlc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tlcl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tlcl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td >
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmc" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmcl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmcl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td >
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmic" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmic" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmicl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmicl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tjp" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tjc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tjcl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tjcl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tvc" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tvc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tvcl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tvcl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tsc" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tsc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tscl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tscl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tdc" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tdc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tdcl" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tdcl" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td  *ngIf="dayavoidn"> 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tlq" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tlc" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tlql" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tlql" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td  *ngIf="dayavoidt" > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmq" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmq" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmql" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmql" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
           <td *ngIf="dayavoidtu" > 
            <ion-item  class="formulario__input">
              <ion-label>Turno:</ion-label>
              <ion-select [(ngModel)]="t.tmiq" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)"  name="tmiq" ngModel required="" >
                  <ion-select-option value="TD">Dia</ion-select-option>
                  <ion-select-option value="TN">Noche </ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item> 
             <br>
            <ion-item>
              <ion-label>Asistencia:</ion-label>
              <ion-select [(ngModel)]="t.tmiql" (ngModelChange)="cambiarEstadoLista(t._id,frmRegister)" name="tmiql" ngModel  required="" >
                  <ion-select-option value="A">Asistencia</ion-select-option>
                  <ion-select-option value="F">Falta </ion-select-option>
                  <ion-select-option value="R">Retardo</ion-select-option>
                  <ion-select-option value="D">Descanso</ion-select-option>
              </ion-select>
            </ion-item>
          </td>
         </tr>
       </tbody>
     </table> 
     </div>
</section>


</ion-content>
 <style>
  div{
    text-align:left
  }

  li{
    text-align: center;
    width: 400px;
  }

ol{

list-style:  none;
display: grid;
grid-template-columns:  repeat(7, 1fr);
padding: 0;
}

.first-day{
  grid-column-start: 5;
  font-weight: bold;
  text-align: center ;
  
}

td{
  text-align: center;
}
tr{
  text-align: center;
}

</style>