<ion-header [translucent]="true">
  <ion-toolbar>
    <app-navbar class="day-nam"></app-navbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="seccion-perfil-usuario">
       <!-- class="perfil-usuario-footer" -->
        <div style="overflow: auto;">
        <div class ="header-calendar"  >
          <div>
            <!-- es para ir al mes de atras -->
            <button (click)="changeMonth(-1)" name="arrow-back" value="Anterior" ></button> 
          </div>
          <h1>{{dateSelectM}} {{dataSYear}}  </h1>
         <div>
           <!-- es para ir al mes de adelante -->
           <button (click)="changeMonth(1)" value="Siguiente"></button> 
        </div>
       </div>
          <table class="table">
          <thead class="thead-dark" >
            <tr >
              <th scope="col" > </th>
              <th scope="col" > </th>
              <th scope="col" > </th>
              <th scope="col" *ngFor="let day of monthSelect">{{day.name | slice:0:3}} </th>
              <th scope="col">Lun</th>
              <th scope="col">Mar</th>
              <th scope="col">Mié</th>
              <th scope="col">Jue</th>
              <th scope="col">Vie</th>
              <th scope="col">Sab</th>
              <th scope="col">Dom</th>
            </tr>
            
            <tr>
              <th scope="col" >  </th>
              <th scope="col" >* </th>
              <th scope="col" >Nombre </th>
              <th scope="col" 
              *ngFor="let day of monthSelect; let first = first" >{{ day ?.value}}  </th>
            </tr>
          </thead>
          <tbody  > 
            <tr scope="row" *ngFor="let g of guardias; let i = index" >
              <th scope="row"  (click)=Agregarhorario(g._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #000000;font-weight: bold;" type="button"> + </th>
              <th scope="row">{{i + 1}}</th>
              <td > {{g.nombre}} {{g.apellidos}} </td>
              <td > {{g.tlp}} </td>
              <td > {{g.tmp}} </td>
              <td > {{g.tmip}} </td>
              <td > {{g.tjp}} </td>
              <td > {{g.tvp}} </td>
              <td > {{g.tsp}} </td>
              <td > {{g.tdp}} </td>
              <td > {{g.tls}} </td>
              <td > {{g.tms}} </td>
              <td > {{g.tmis}} </td>
              <td > {{g.tjs}} </td>
              <td > {{g.tvs}} </td>
              <td > {{g.tss}} </td>
              <td > {{g.tds}} </td>
              <td > {{g.tlt}} </td>
              <td > {{g.tmt}} </td>
              <td > {{g.tmit}} </td>
              <td > {{g.tjt}} </td>
              <td > {{g.tvt}} </td>
              <td > {{g.tst}} </td>
              <td > {{g.tdt}} </td>
              <td > {{g.tlc}} </td>
              <td > {{g.tmc}} </td>
              <td > {{g.tmic}} </td>
              <td > {{g.tjc}} </td>
              <td > {{g.tvc}} </td>
              <td > {{g.tsc}} </td>
              <td > {{g.tdc}} </td>
              <td > {{g.tlq}} </td>
              <td > {{g.tmq}} </td>
              <td > {{g.tmiq}} </td>        
            </tr>
          </tbody>
        </table> 
        </div>
      
</section>
</ion-content>
 <style>
  div{
    text-align:center;
    width: 100%;
  }

  li{
    text-align: center;
  }

/* tr{
list-style:  none;
display: grid;
grid-template-columns:  repeat(7, 1fr);
padding: 0;
} */

.first-day{
  grid-column-start: 5;
  font-weight: bold;
  text-align: center ;
}

</style> 