<ion-header [translucent]="true">
    <ion-toolbar>
      <app-navbar></app-navbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <section class="seccion-perfil-usuario">
      <div class="perfil-usuario-header">
          <div class="perfil-usuario-portada">
            
              <button type="button" class="boton-portada">
                  <i class="far fa-image"></i> Cambiar fondo
              </button>
          </div>
      </div>
      <div class="perfil-usuario-body">
          <div class="perfil-usuario-bio">
              <h3 class="titulo">{{ service.nombre }} </h3>
              <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="perfil-usuario-footer">
              <ul class="lista-datos">
                <li><i class="icono fas fa-user"></i>Contacto directo:{{service.contactodelservicio}} </li>
                <li><i class="icono fas fa-user"></i>Jefe de turno:{{service.jefedeservicio}} </li>
                  <li><i class="icono fas fa-map-signs"></i>Dirección: {{ service.domicilio }}</li>
                  <li><i class="icono fas fa-phone-alt"></i>Telefono: {{ service.telefono}}</li>
                  <li><i class="icono fas fa-phone-alt"></i>telefonoprotexum: {{ service.telefonoprotexum }}</li>
                  <li><i class=""></i>Servicio: {{ service.tipodeservicio }}</li>
                 
              </ul>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Dias</th>
                    <th scope="col">Turno 12x12</th>
                    <th scope="col">Turno 24x24</th>
                   
                  </tr>
                </thead>
                <tbody>
               
                  <tr>
                    <th scope="row">Lunes</th>
                    <td> {{service.lturnodoce}} </td>
                    <td>{{service.lturnovienti}} </td>
                  
                  </tr>
                  <tr>
                    <th scope="row">Martes</th>
                    <td> {{service.mturnodoce}} </td>
                    <td>{{service.mturnovienti}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Miercoles</th>
                    <td> {{service.miturnodoce}} </td>
                    <td>{{service.miturnovienti}}</td>
                
                  </tr>
                  <tr>
                    <th scope="row">Jueves</th>
                    <td> {{service.jturnodoce}} </td>
                    <td>{{service.jturnovienti}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Viernes</th>
                    <td> {{service.vturnodoce}} </td>
                    <td>{{service.vturnovienti}}</td>
                 
                  </tr>
                  <tr>
                    <th scope="row">Sabado</th>
                    <td> {{service.sturnodoce}} </td>
                    <td>{{service.sturnovienti}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Domingo</th>
                    <td> {{service.dturnodoce}} </td>
                    <td>{{service.dturnovienti}}</td>
                    
                  </tr>
                
                </tbody>
              </table>

             
             
          </div>
         
          <div class="perfil-usuario-body" >
           
          <div class="perfil-usuario-footer" *ngFor="let equip of service.equiporecibido">
           
              <ul>
                
              
            <ion-label> equipoo Entregado </ion-label>
            <ion-icon name="clipboard" (click)="Editar_E(equip._id)"></ion-icon> 
           <li><i class="icono fas fa-user"></i>Celular:{{equip.celular}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion Celular:{{equip.dcelular}} </li>
           <li><i class="icono fas fa-user"></i>Radio:{{equip.radio}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion radio:{{equip.dradio}} </li>
           <li><i class="icono fas fa-user"></i>Lamparas:{{equip.lamparas}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion lamparas:{{equip.dlamparas}} </li>
           <li><i class="icono fas fa-user"></i>Fornitura:{{equip.fornitura}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion fornitura:{{equip.dfornitura}} </li>
           <li><i class="icono fas fa-user"></i>Tonfa:{{equip.tonfa}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion tonfa:{{equip.dtonfa}} </li>
           <li><i class="icono fas fa-user"></i>Gas:{{equip.gas}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion gas:{{equip.dgas}} </li>
           <li><i class="icono fas fa-user"></i>teaser:{{equip.teaser}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion teaser:{{equip.dteaser}} </li>
           <li><i class="icono fas fa-user"></i>Impermeable:{{equip.impermeable}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion impermeable:{{equip.dimpermeable}} </li>
           <li><i class="icono fas fa-user"></i>Espejoderevision:{{equip.espejoderevision}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion espejoderevision:{{equip.despejoderevision}} </li>
           <li><i class="icono fas fa-user"></i>Detectordemetales:{{equip.detectordemetales}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion detectordemetales:{{equip.ddetectordemetales}} </li>
           <li><i class="icono fas fa-user"></i>Mazo:{{equip.mazo}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion mazo:{{equip.dmazo}} </li>
           <li><i class="icono fas fa-user"></i>Botasimpermeables:{{equip.botasimpermeables}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion botasimpermeables:{{equip.dbotasimpermeables}} </li>
           <li><i class="icono fas fa-user"></i>Bicicleta:{{equip.bicicleta}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion bicicleta:{{equip.dbicicleta}} </li>
           <li><i class="icono fas fa-user"></i>Patrulla:{{equip.patrulla}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion patrulla:{{equip.dpatrulla}} </li>
           <li><i class="icono fas fa-user"></i>Rondinero:{{equip.rondinero}} </li>
           <li><i class="icono fas fa-user"></i>Descripcion rondinero:{{equip.drondinero}} </li>
     
        </ul>
         </div>
        </div>
      </div>
  </section>
  </ion-content>
