<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Registra a tu nuevo Cliente</h2>
  
    <form [formGroup]="clientForm" class="formulario" (ngSubmit)="actualizar()">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="nombre" name="nombre" placeholder="Nombre"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" formControlName="rfc" name="rfc" placeholder="RFC"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-item class="formulario__input" >
            <ion-label>Tipo de Servicio brindando:</ion-label>
            <ion-select      formControlName="servicio" name="servicio" required="" >
                <ion-select-option value="Industrial">Industria</ion-select-option>
                <ion-select-option value="Residencial">Residencial</ion-select-option>
                <ion-select-option value="Centro-comercial">Centro comercial</ion-select-option>
                <ion-select-option value="Empresarial">Empresarial</ion-select-option>
                <ion-select-option value="Codependencia-de-gobierno">Dependencia-de-gobierno</ion-select-option>
                
                
              
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="domicilio" name="domicilio" placeholder="Ejemplo:Av.Chicahuales, JesusMaria, Ags, codigo postal: 20000 "  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" formControlName="telefono" name="telefono" placeholder="Telefono"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="cdnombre" name="cdnombre" placeholder="Nombre del contacto directo"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" formControlName="cdtelefono" name="cdtelefono" placeholder="Telefono del contacto directo"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="email" formControlName="cdcorreoelectronicoempresa" name="cdcorreoelectronicoempresa" placeholder="Correoelectronico Empresa del contacto directo"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="email" formControlName="cdcorreoelectronico" name="cdcorreoelectronico" placeholder="Correoelectronico  del contacto directo"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="email" formControlName="correoelectronicofacturacion" name="correoelectronicofacturacion" placeholder="Correoelectronico de facturacion"  required=""> </ion-input> </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" formControlName="rfcdefacturacion" name="rfcdefacturacion" placeholder="RFC de Facturacion"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="domciliofiscal" name="domciliofiscal" placeholder="Domicilio fiscal"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-item class="formulario__input" >
            <ion-label>Uso del CFDI:</ion-label>
            <ion-select      formControlName="cfdi" name="cfdi" required="" >
                <ion-select-option value="Por-definir">Por definir</ion-select-option>
                <ion-select-option value="Gastos-en-general">Gastos en general</ion-select-option>
                
              
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-item class="formulario__input" >
            <ion-label>Agrega la forma de pago:</ion-label>
            <ion-select      formControlName="formadepago" name="formadepago" required="" >
                <ion-select-option value="Efectivo">Efectivo</ion-select-option>
                <ion-select-option value="Transferencia-electronica">Transferencia electronica</ion-select-option>
                <ion-select-option value="Tarjeta-de-credito">Tarjeta de credito</ion-select-option>
                <ion-select-option value="Tarjeta-de-debito">Tarjeta de debito</ion-select-option>
                <ion-select-option value="Por-definir">por definir</ion-select-option>
                
              
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-item class="formulario__input" >
            <ion-label> Metodo de pago:</ion-label>
            <ion-select      formControlName="metododepago" name="metododepago" required="" >
                <ion-select-option value="Por-definir">Por definir</ion-select-option>
                <ion-select-option value="Parcialidades-o-deferido">Parcialidades o deferido</ion-select-option>
                <ion-select-option value="Pago-en-una-exibicion">Pago en una exibicion</ion-select-option>
              
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label class="formulario__label">Fecha de facturacion </ion-label>
          <p><ion-input class="formulario__input" type="date" formControlName="fechadefacturacion" name="fechadefacturacion" placeholder="Fecha de facturacion"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="tipodecredito" name="tipodecredito" placeholder="Tipo de credito"  required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" formControlName="comentarios" name="comentarios" placeholder="Comentarios"  required=""> </ion-input> </p>
        </div>
      </div>
   
   
     
      <p><input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #000000; color: #FFFFFF;" type="submit" value="Registrar"> </p>
    </form>
  </main>
   
  </div>
</ion-content>


  