<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Agrega el Equipo que le entregaras a tu Guardia</h2>
  
    <form #frmRegister="ngForm" class="formulario" (ngSubmit)="Register(frmRegister)">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de Celulares </ion-label>
          <p><ion-input class="formulario__input" type="number" name="celular" placeholder="Celular" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dcelular" placeholder="Descripcion Celular" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de radio </ion-label>
          <p><ion-input class="formulario__input" type="number" name="radio" placeholder="Radio" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dradio" placeholder="Descripcion Radio" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de lamparas </ion-label>
          <p><ion-input class="formulario__input " type="number" name="lamparas" placeholder="Lamparas" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input " type="text" name="dlamparas" placeholder="Descripcion Lamparas" ngModel required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de fornitura </ion-label>
          <p><ion-input class="formulario__input" type="number" name="fornitura" placeholder="Fornitura" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dfornitura" placeholder="Descripcion Fornitura" ngModel required=""> </ion-input> </p>
        </div>
        </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de tonfa </ion-label>
          <p><ion-input class="formulario__input " type="number" name="tonfa" placeholder="Tonfa" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input " type="text" name="dtonfa" placeholder="Descripcion Tonfa" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de gas </ion-label>
          <p><ion-input class="formulario__input" type="number" name="gas" placeholder="Gas" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dgas" placeholder="Descripcion Gas" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de teaser </ion-label>
          <p><ion-input class="formulario__input" type="number" name="teaser" placeholder="Teaser" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
         
          <p><ion-input class="formulario__input" type="text" name="dteaser" placeholder="Descripcion Teaser" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de impermeable </ion-label>
          <p><ion-input class="formulario__input" type="number" name="impermeable" placeholder="Impermeable" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          
          <p><ion-input class="formulario__input" type="text" name="dimpermeable" placeholder="Descripcion Impermeable" ngModel required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de espejo de revision </ion-label>
          <p><ion-input class="formulario__input" type="number" name="espejoderevision" placeholder="Espejo de revision" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="despejoderevision" placeholder="Descripcion Espejo de revision" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de detector de metales </ion-label>
          <p><ion-input class="formulario__input" type="number" name="detectordemetales" placeholder="Detector de metales" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddetectordemetales" placeholder="Descripcion Detector de metales" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de mazo </ion-label>
          <p><ion-input class="formulario__input" type="number" name="mazo" placeholder="Mazo" ngModel required="" > </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dmazo" placeholder="Descripcion Mazo" ngModel required="" > </ion-input> </p>
        </div>
      </div>
      
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de botas impermeables </ion-label>
          <p><ion-input class="formulario__input" type="number" name="botasimpermeables" placeholder="botas impermeables" ngModel required=""> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dbotasimpermeables" placeholder="Descripcion botas impermeables" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de bicicleta </ion-label>
          <p><ion-input class="formulario__input" type="number" name="bicicleta" placeholder="Bicicleta" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dbicicleta" placeholder="Descripcion Bicicleta" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de patrulla </ion-label>
          <p><ion-input class="formulario__input" type="number" name="patrulla" placeholder="Patrulla" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="dpatrulla" placeholder="Descripcion Patrulla" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
     
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de rondinero </ion-label>
          <p><ion-input class="formulario__input" type="number" name="rondinero" placeholder="Rondinero" ngModel required> </ion-input></p>
        </div> 
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="drondinero" placeholder="Descripcion Rondinero" ngModel required> </ion-input></p>
        </div> 
      </div>
      
      <p><input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #FE693D; color: #ffff;" type="submit" value="Registrar"> </p>
    </form>
  </main>
   
  </div>
  
</ion-content>


  