<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="login" style="position: absolute;width: 100%; height: auto;">
    <main>
      <h2 class="login-header">Registra a tu nuevo elemento</h2>
  
    <form #frmRegister="ngForm" class="formulario" (ngSubmit)="Register(frmRegister)">
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="nombre" placeholder="Nombre" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="apellidos" placeholder="apellidos" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" name="curp" placeholder="CURP" ngModel required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="nsegurosocial" placeholder="Numero de seguro social" ngModel required=""> </ion-input> </p>
        </div>
        </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input mayusculas" type="text" name="rfc" placeholder="RFC" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="domicilio" placeholder="Ejemplo:Av.Chicahuales, JesusMaria, Ags, codigo postal: 20000 " ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label class="formulario__label">Fecha de entrada </ion-label>
          <p><ion-input class="formulario__input" type="date" name="fechadeentrada" placeholder="Fecha de entrada" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label class="formulario__label">Fecha de Nacimiento</ion-label>
          <p><ion-input class="formulario__input" type="date" name="fechadenacimiento" placeholder="Fecha de Nacimiento" ngModel required=""> </ion-input> </p>
        </div>
      </div>  
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="telefono" placeholder="Telefono " ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="tel" name="telefonoadicional" placeholder="Telefono Adicional" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="creditodeInfonavit" placeholder="Ingrese el numero de credito de Infonavit si lo tiene" ngModel required="" maxlength="15"> </ion-input> </p>
        </div>
      </div>
      <!-- <p><ion-input type="text" name="estadocivil" placeholder="Cual es su estado Civil" ngModel required=""> </ion-input> </p> -->
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item class="formulario__input" >
              <ion-label>Cual es su estado Civil:</ion-label>
              <ion-select   ngModel   name="estadocivil" required="" >
                  <ion-select-option value="Soltero">Soltero</ion-select-option>
                  <ion-select-option value="Casado">Casado</ion-select-option>
                  <ion-select-option value="Divorciado">Divorciado</ion-select-option>
                  <ion-select-option value="Viudo">Viudo</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>
      
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="email" name="correoelectronico" placeholder="correoelectronico" ngModel required=""> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de playera </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdeplayera" placeholder="Cantidad de playera" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddeplayera" placeholder="Descripcion de playera" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de pantalon </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdepantalon" placeholder="Cantidad de pantalon" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddepantalon" placeholder="Descripcion de pantalon" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de botas </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdebotas" placeholder="Cantidad de calzado" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddebotas" placeholder="Descripcion de calzado" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de cachucha </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdecachucha" placeholder="Cantidad de cachucha" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddecachucha" placeholder="Descripcion de cachucha" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de chamarra </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdechamarra" placeholder="Cantidad de chamarra" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddechamarra" placeholder="Descripcion de chamarra" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de chaleco </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdechaleco" placeholder="Cantidad de chaleco" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddechaleco" placeholder="Descripcion de chaleco" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label > Cantidad y Descripcion de lentes </ion-label>
          <p><ion-input class="formulario__input" type="number" name="cdelentes" placeholder="Cantidad de lentes" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="text" name="ddelentes" placeholder="Descripcion de lentes" ngModel required="" maxlength="25"> </ion-input> </p>
        </div>
      </div>
        <!-- <p><ion-input type="text" name="pensionado" placeholder="Es pensionado" ngModel required=""> </ion-input> </p>   -->
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item  class="formulario__input">
              <ion-label>Es pensionado:</ion-label>
              <ion-select   ngModel   name="pensionado" required="" >
                  <ion-select-option value="Si">Si</ion-select-option>
                  <ion-select-option value="No">No</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>
      
      <!-- <p><ion-input type="text" name="niveldeescolaridad" placeholder="Nivel de Escolaridad" ngModel required=""> </ion-input> </p>   -->
    
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item  class="formulario__input">
              <ion-label>Nivel de Escolaridad:</ion-label>
              <ion-select ngModel   name="niveldeescolaridad" required="" >
                  <ion-select-option value="Primaria">Primaria</ion-select-option>
                  <ion-select-option value="Secundaria">Secundaria </ion-select-option>
                  <ion-select-option value="Preparatoria">Preparatoria</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div> 
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p>
            <ion-item class="formulario__input" >
              <ion-label>Cual es el rol:</ion-label>
              <ion-select   ngModel name="rol" required=""  >
                  <ion-select-option value="Guardia">Guardia</ion-select-option>
                  <ion-select-option value="Supervisor">Supervisor</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
        </div>
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <p><ion-input class="formulario__input" type="password" name="contrasena" placeholder="Contrasena" ngModel required> </ion-input></p>
        </div> 
      </div>
      <div class="formulario__grupo">
        <div class="formulario__grupo-input">
          <ion-label>Agrega Foto del Elemento</ion-label>
          <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
            <input type="file" placeholder="File" (change)="onFileChange($event)"
          formControlName="file" >
          </form>
        </div>
      </div>
      <p><input class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #FE693D; color: #000000;font-weight: bold;" type="submit" value="Registrar"> </p>
    </form>
  </main>
   
  </div>
  
</ion-content>


  