
<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-card-user (userSeleccionado)="verUser( $event )" [users]= "foo" [index]="i" *ngFor="let foo of users; let i = index"></app-card-user>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title>Footer - No Border</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>




