
<ion-item *ngIf="services.activo">

  <ion-label>
    <h2>Nombre: {{ services.nombre }}  </h2>
    <h2>jefe de turno : {{ services.jefedeservicio }}</h2>
    <h3>telefono protexum: {{ services.telefonoprotexum }}</h3>
    

  </ion-label>
  <button (click)=Controldeplaneacion(services._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #000000;font-weight: bold;" type="button">Tabla de Planeacion</button>
  <button (click)=AgregarGuardia(services._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #000000;font-weight: bold;" type="button">lista de Guardia</button>
  <button (click)=verService(services._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #000000;font-weight: bold;" type="button">Ver más</button>
  <ion-icon name="trash" (click)="delete(services._id)"></ion-icon>
  <ion-icon name="create-outline" (click)="Editar_U(services._id)"></ion-icon> 
</ion-item>
