.body{
  position: static;
  /* background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80'); */
  width: 100%;
  height: 1000px;
}
.form{
  position: absolute;
  text-align: center;
  width: 40%;
  background-color: rgb(255, 255, 255);
  left: 50%;
  top: 80%;
  height: fit-content;
  padding: 40px;
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.78);
  
}
.form .titulo{
  color: rgb(0, 0, 22);
  font-size: 200%;
  margin-bottom: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:normal;
}
.user-input-wrp {
position: relative;
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  
}
.user-input-wrp .inputText{
width: 100%;
outline: none;
border:none;
border-bottom: 1px solid rgb(70, 33, 75);
  box-shadow: none !important;
  background:none;
  color: rgb(0, 0, 0);
}
.user-input-wrp .inputText:focus{
border-color:  rgb(11, 35, 30);
border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
position: absolute;
pointer-events: none;
top: 15px;
left: 10px;
transition: 0.2s ease all;
}
.user-input-wrp .floating-label-error {
position: absolute;
pointer-events: none;
top: 15px;
left: 10px;
  transition: 0.2s ease all;
  color: red;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
top: 0px;
left: 10px;
font-size: 13px;
opacity: 1;
}
.user-input-wrp input:focus ~ .floating-label-error,
.user-input-wrp input:not(:focus):valid ~ .floating-label-error{
top: 0px;
left: 10px;
font-size: 13px;
  opacity: 1;
  color: red;
}

.captcha{
  position: relative;
  left: 20%;
  margin-top: 10px;
  transform: translate(-50%,0%);
}
.btnSubmit{
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: 0.5px solid;
  cursor: pointer;
  border-radius: 9px;
}