<ion-item *ngIf="users.activo">
  <ion-avatar slot="start">
    <img src="{{ users.fileUrl }}" style="width: 40px;height: 40px; border-radius: 150px;"/>
  </ion-avatar>
  <ion-label>
    <h2>Nombre: {{ users.nombre }} {{ users.apellidos }} </h2>
    <h2>Rol: {{ users.rol }}</h2>
    <h3>Correo: {{ users.correoelectronico }}</h3>
    <p>Telefono: {{ users.telefono }}</p>
  </ion-label>

  <button (click)=verUser(users._id) class="btn my-2 my-sm-0" style="background-color: #FE693D; color: #ffff;" type="button">Ver más</button>
  <ion-icon name="trash" (click)="delete(users._id)"></ion-icon>
  <ion-icon name="clipboard" ></ion-icon>
</ion-item>
