<ion-header>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="table-responsive">
    <table   id="excel-table" class="table table-striped">
    
      <thead class="thead-dark">
        <tr>
          <th scope="col">Servicio</th>
          <th scope="col">No.</th>
          <th scope="col">Guardia</th>
          <th scope="col">Salario</th> 
          <th scope="col">Adelanto</th>
          <th scope="col">Multas</th>
          <th scope="col">Falta</th>
          <th scope="col">Total</th>

        </tr>
      </thead>
      <tbody *ngFor="let t of turnoa; let tu = index">
        <tr >
          <th scope="row">{{t.nombreS}} </th>
         <th scope="row">{{t.Guardias._id}}</th> 
          <th  scope="row">{{t.nombre}} {{t.apellidos}} </th>
          <th scope="row">${{t.Servicio.sueldo}} </th>
          <th  scope="row">${{t.Guardias.montoapagartotal}} </th> 
          <th  scope="row">${{t.Guardias.multaapagar}} </th> 
          <th scope="row">${{t.dinerofaltante}} </th>
          <th scope="row">${{t.Servicio.sueldo - t.dinerofaltante - t.Guardias.montoapagartotal - t.Guardias.multaapagar }} </th> 
        </tr>
      </tbody>
    </table>
    <button (click)="exportexcel()" class="btn my-2 my-sm-0 btn-lg button" style="width: 100%; background-color: #000000; color: #FFFFFF;font-weight: bold;">Export to Excel</button>
  </div>
</ion-content>